asttokens==2.4.1
beautifulsoup4==4.12.3
Brotli @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/brotli-split_1699473013692/work
bs4==0.0.2
certifi @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/certifi_1701808492491/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.6
contourpy==1.2.0
cryptography @ file:///C:/b/abs_e8cnom_zw_/croot/cryptography_1702071486468/work
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.47.2
idna @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/idna_1699473483982/work
ipython==8.20.0
jedi==0.19.1
Jinja2==3.1.3
jsonpickle==3.0.2
kiwisolver==1.4.5
MarkupSafe==2.1.4
matplotlib==3.8.2
matplotlib-inline==0.1.6
networkx==3.2.1
numpy==1.26.3
packaging==23.2
parso==0.8.3
pillow==10.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.17.2
pyOpenSSL @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyopenssl_1699483061206/work
pyparsing==3.1.1
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
python-dateutil==2.8.2
pyvis==0.3.2
requests @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/requests_1699474563382/work
setuptools==68.2.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
traitlets==5.14.1
urllib3 @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/urllib3_1699473710564/work
wcwidth==0.2.13
wheel==0.41.2
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
